*{
	padding: 0;
	margin: 0;
}


.container{
	width: 60vw;
	height: 100vh;
	background-color: white;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .con{
	display: flex;
	justify-content: center;
	/* align-items: ; */
	flex-direction: column;
}

img{
	width: 25vw;
	height: 55vh;
	object-fit: contain;
}

